.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content/Box */
.content {
  background-color: #eee;
  margin: 12% auto;
  padding: 30px;
  border-radius: 10px;
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
}


.close {
  position: absolute;
  left: 0;
  top: 0;
  font-size:20px;
  font-weight: bold;
  margin: 20px
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form {
  margin-top: 50px;
  position: relative;
}

.form button {
  width: 30%;
  position: absolute;
  left: 9px;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  margin-top: 30px;
}


.formgroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.formgroup input {
  width: 70%;
  height: 35px;
  font-size: .9rem;
  border-radius: 5px;
  background-color: #fff;
  display: block;
  transition: all .3s;
  border: 1PX solid #eee;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, .5);
  padding-right: 10px;
}

.formgroup input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(.5);
}

