.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content/Box */
.content {
  background-color: #eee;
  margin: 15% auto;
  padding: 30px;
  border-radius: 10px;
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
}


.close {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 28px;
  font-weight: bold;
  margin: 20px
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form {
  margin-top: 70px;
  position: relative;
}

.form button{
  width: 30%;
  position: absolute;
  left: 9px;
  background-color: #308d46;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin-top: 30px;
}


.formgroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.formgroup input {
  width: 70%;
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #fff;
  display: block;
  transition: all .3s;
  border: 1PX solid #eee;
              box-shadow: 0 1rem 2rem rgba(255, 255, 255, .5);
}

.formgroup input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(.5);
  border-bottom: 3px solid red;
}

.formgroup input:invalid {
  border-bottom: 3px solid blue;
}