.alert {
  width: 20%;
  height: 80px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  transition: all 1s;
  margin: 20px;
  animation: moveInBottom 1s;
  border-radius: 5px;
}

.alert p {
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert span {
  color: #fff;
}


@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}


/* set colors for alerts */
.info {
  background-color: #4c5aac;
}

.success{
  background-color: #4caf50;
}
.danger {
  background-color: #f44336;
}


/* error for validation of form */
.error {
  color: #f44336;
  font-size: 12px;
  text-align: right;
  padding-right: 28%;
}
