.container{
  width: 1000px;
  margin: 100px auto;
  z-index: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


table {
  border-collapse: collapse;
  width: 100%;
  text-align: right;
  direction: rtl;
  margin-top: 50px;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  direction: rtl;
  background-color: #2c5aa599;
  color: white;
}

