.container {
  width: 1000px;
  height: 100%;
  margin: 100px auto;
  z-index: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


table {
  border-collapse: collapse;
  width: 100%;
  text-align: right;
  direction: rtl;
  margin-top: 70px;
}

.table td:last-child {
  display: flex;
  justify-content: center
}

.table td:last-child button:first-child,
.table td:last-child button:last-child {
  color: #fff;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: .9rem;
  padding: 0 5px;
  cursor: pointer;
  border: none;
}

.table td:last-child button:first-child {
  background-color: #f44336;
  margin-left: 30px;
  font-size: 13px;
}


.table td:last-child button:first-child:hover {
  background-color: #f83123;
}

.table td:last-child button:last-child {
  background-color: #4caf50;
  font-size: 13px;
}

.table td:last-child button:last-child:hover {
  background-color: #31a135;
}

.table tbody tr th:first-child {
  border-radius: 0 5px 0 0;
}

.table tbody tr th:last-child {
  border-radius: 5px 0 0 0;
}

tr {
  color: #000;
  text-align: center;
}

td,
th {
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  direction: rtl;
  background-color: #5888b8;
  color: white;
}

.addBtn {
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 8px;
  outline: none;
  transition: all .5s ease-in-out;
}


.btnGroup button:first-child {
  background-color: #6d81ee;
  margin-left: 20px;
}

.btnGroup button:first-child:hover{
  background-color: #fff;
  color: #4680b9;
}
.btnGroup button:last-child {
  background-color: rgb(121, 121, 113);
}

.btnGroup button:last-child:hover{
  background-color: #fff;
  color: rgb(121, 121, 113);
}

.search {
  width: 300px;
  height: 35px;
  line-height: 35px;
  /* padding-right: 5px; */
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  border: none;
  caret-color: #5888b8;
  position: relative;
  z-index: 0;
}

.search:focus {
  outline: none;
  padding-right: 5px;
}

.search::placeholder {
  padding-right: 5px;
}
