.container {
  width: 1000px;
  margin: 100px auto;
  z-index: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


table {
  border-collapse: collapse;
  width: 100%;
  text-align: right;
  direction: rtl;
  margin-top: 50px;
}

.table td:last-child {
  display: flex;
  justify-content: center
}

.table td:last-child button:first-child,
.table td:last-child button:last-child {
  color: #fff;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: .9rem;
  padding: 0 5px;
  cursor: pointer;
  border: none;
}

.table td:last-child button:first-child {
  background-color: #f44336;
  margin-left: 30px;
}

.table td:last-child button:last-child {
  background-color: #4caf50;
}

tr {
  color: #000;
  text-align: center;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  direction: rtl;
  background-color: #007bff;
  color: white;
}

.addBtn{
  background-color: #6d81ee;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 8px;
  outline: none;
}

.btnGroup button:first-child{
  margin-left: 20px;
}

.search{
  width: 300px;
  height: 35px;
  line-height:35px;
  padding-right: 5px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
}

.search:focus{
  outline: none;
}