.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}


.content {
  background-color: #eee;
  margin: 15% auto;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content p {
  text-align: center;
  font-size: 1rem;
}

.actions {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-top: 20px;
}

.actions button:first-child,
.actions button:last-child {
  width: 70px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff
}

.actions button:first-child {
  background-color: #007bff;
}

.actions button:last-child {
  background-color: #f44336;
}

.close {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  font-weight: bold;
  margin: 15px
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}