:root {
  line-height: 1.5;
}

* {
  font-family: vazir;
  color: #333;
}


@font-face {
  font-family: vazir;
  src: url('./assets/fonts/Vazir.woff') format('woff');
}


body{
  background-color: #ece7e7;
}
